
.parent {
    background: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .parent[data-isOpen="true"] {
    width: 400px;
    height: 200px;
  }
  .parent[data-colormode="dark"] {
    width: 400px;
    height: 200px;
    background: rgb(202, 202, 202);
  }
  .parent[data-colormode="light"] {
    width: 400px;
    height: 200px;
    background: rgb(84, 84, 84);
  }
  
  .child {
    width: 40px;
    height: 40px;
    background: #f10707;
    border-radius: 50%;
  }
  